:root {
    --main-green: #0CCE6B;
    --accent-green: #157A6E;
    --purple: #758BFD;
    --white: #FFFFFF;
    --off-white: #F2F4EE;
    --gray: #75756F;
    --black: #6B6B66;
}

* {
    background-color: var(--white);
    font-family: "Rubik", "sans-serif";
    font-size: 12px;
    color: var(--gray);
}

/* MAIN */

body {
    background-color: var(--off-white);
}

.alt-background {
    background-color: var(--white);
}

.section {
    height: 105vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.title {
    font-size: 72px !important;
    letter-spacing: .3rem;
    padding-bottom: 10px;
    color: var(--main-green);
}

.subtitle {
    font-size: 24px;
    padding-top: 10px;
    color: var(--accent-green);
}

.btn {
    color: var(--off-white);
    background-color: var(--main-green);
    border-color: var(--main-green);
    padding: 5px 30px;
    font-size: 16px;
}

/* LINE-CHART */
.line {
    stroke: var(--main-green);
    stroke-width: 2px;
}

.chart-title {
    font-size: 24px !important;
    color: var(--accent-green);
}

.chart-subtitle {
    font-size: 14px !important;
    color: var(--black);
}

.circle {
    fill: var(--accent-green);
}

.tooltip {
    border-radius: 5px;
    background: var(--black);
    padding: 12px 16px;
}

.tooltip-background {
    background: var(--black);
}

.tooltipArea {
    opacity: 0;
}

h3 {
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
}

h2 {
    font-size: 28px;
    padding: 36px;
    color: var(--gray);
}

.time-period {
    display: flex;
    background-color: var(--off-white);
    fill: black;
    padding-left: 36px;
}

* {
    background-color: transparent;
}

text {
    fill: var(--black);
}


.sum-tracks-label {
    padding-left: 36px;
    color: var(--main-green);
    font-size: 28px;
}

/* STACKED-BAR */
.bar {
    fill: var(--accent-green);
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    margin: 30px;
    height: 5px;
    background: var(--black);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--accent-green);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--accent-green);
    cursor: pointer;
}

.btn-primary{
    background-color: var(--main-green);
}

/* RECORD */
.recordContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 300px;
}

.recordBox {
    width: 100%;
    margin:10px;
}

.recordTextBox {
    fill: #6c757d;
}

.recordTextBoxTitle {
    font-size: 24px;
    fill: var(--accent-green);
}

.trackurl {
    text-decoration: none;
}

.recordTextBoxTitle:hover {
    fill: var(--main-green);
}

.recordTextBoxSubtitle {
    font-size: 16px;
}

main .menu{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align:center}

select {
    display: block;
    margin: auto;

}

.card-group {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 120px;
}

td {
    width:80%;
    white-space: nowrap;
}

table {
    width: 80%;
}

.recordLegend{
    margin: auto;
    text-align: center;
}

#barChartInfo{
    margin: 0px;
}